# 4.8 Task

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
#path
path=r'/Users/kristenlehtinen/Documents/Careerfoundry/Instacart Basket Analysis'

In [4]:
#import pickle file 
ords_prods_merge = pd.read_pickle(r'/Users/kristenlehtinen/Documents/Careerfoundry/Instacart Basket Analysis/02 Data/Prepared Data/ords_prods_merge.pkl')

In [5]:
ords_prods_merge.head()

,Unnamed: 0,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,...,price_range_loc,busiest_day,Busiest days,busiest_hours,max_order,loyalty_flag,mean_product_price,spending flag,customer_type,Frequency flag
0,0,0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,3139998,138,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,1,0,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1977647,138,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,2,0,1,Chocolate Sandwich Cookies,61,19,5.8,106710,389851,709,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,3,0,1,Chocolate Sandwich Cookies,61,19,5.8,113536,652770,764,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,4,0,1,Chocolate Sandwich Cookies,61,19,5.8,113575,1813452,764,...,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer

# 2. Finding the mean of order_number for entire dataframe

In [6]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.393473
2     17.000546
3     17.216578
4     17.714601
5     14.956241
6     16.454727
7     17.325861
8     15.117326
9     16.027829
10    20.229811
11    16.455406
12    15.895358
13    16.692698
14    16.815395
15    16.133323
16    17.607401
17    15.936598
18    19.646685
19    17.216008
20    16.393918
21    22.580576
Name: order_number, dtype: float64

# 3. Analyzing the result

#### The means of the entire dataset vs the subset are very close in value. Some of the means are higher and some are lower, but not enough to change the overall impact of the data.

# 4. Loyalty Flag for existing customers

In [7]:
# Creating a new column with 'max_order' grouped by 'user_id'
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_52367/4108016497.py:2: FutureWarning: The provided callable <function amax at 0x110f5fc40> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# Loyal Customer
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
# Regular Customer
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
# New Customer
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
# Checking head of ords_prods_merge
ords_prods_merge.head()

,Unnamed: 0,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,...,price_range_loc,busiest_day,Busiest days,busiest_hours,max_order,loyalty_flag,mean_product_price,spending flag,customer_type,Frequency flag
0,0,0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,3139998,138,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,1,0,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1977647,138,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,2,0,1,Chocolate Sandwich Cookies,61,19,5.8,106710,389851,709,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,3,0,1,Chocolate Sandwich Cookies,61,19,5.8,113536,652770,764,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,4,0,1,Chocolate Sandwich Cookies,61,19,5.8,113575,1813452,764,...,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer

# 5. Spending Habits of the 3 types of customers

In [12]:
# Check frequency of values in new loyalty flag column
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    4865811
Loyal customer      3154395
New customer        1898456
Name: count, dtype: int64

In [13]:
#Aggregating prices based on loyalty_flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer     9.434927  1.0  99999.0
New customer      12.705475  1.0  99999.0
Regular customer  11.675576  1.0  99999.0

#### The new customer actually spends most money on products. The loyal customers pend the least amount of money by about $3.00.

# 6. Targeting different types of spenders

In [14]:
# Creating a new column with 'mean_product_price' grouped by 'user_id and prices'
ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_52367/4218507976.py:2: FutureWarning: The provided callable <function mean at 0x110f689a0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
ords_prods_merge.head()

,Unnamed: 0,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,...,price_range_loc,busiest_day,Busiest days,busiest_hours,max_order,loyalty_flag,mean_product_price,spending flag,customer_type,Frequency flag
0,0,0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,3139998,138,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,1,0,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1977647,138,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,2,0,1,Chocolate Sandwich Cookies,61,19,5.8,106710,389851,709,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,3,0,1,Chocolate Sandwich Cookies,61,19,5.8,113536,652770,764,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,4,0,1,Chocolate Sandwich Cookies,61,19,5.8,113575,1813452,764,...,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer

In [16]:
# Low Spender
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] < 10, 'spending flag'] = 'Low Spender'

In [17]:
# High Spender
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] >= 10, 'spending flag'] = 'High Spender'

In [18]:
# Check frequency of values in new spending flag
ords_prods_merge['spending flag'].value_counts(dropna = False)

spending flag
Low Spender     9736743
High Spender     181919
Name: count, dtype: int64

In [19]:
ords_prods_merge.head()

,Unnamed: 0,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,...,price_range_loc,busiest_day,Busiest days,busiest_hours,max_order,loyalty_flag,mean_product_price,spending flag,customer_type,Frequency flag
0,0,0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,3139998,138,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,1,0,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1977647,138,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,2,0,1,Chocolate Sandwich Cookies,61,19,5.8,106710,389851,709,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,3,0,1,Chocolate Sandwich Cookies,61,19,5.8,113536,652770,764,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,4,0,1,Chocolate Sandwich Cookies,61,19,5.8,113575,1813452,764,...,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer

# 7. Frequent vs. Non frequent Customers

In [20]:
# Creating a new column: Customer type (non-frequent, regular, and frequent)
ords_prods_merge['customer_type'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_52367/3560193983.py:2: FutureWarning: The provided callable <function median at 0x111089da0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['customer_type'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
# Non-frequent Customer
ords_prods_merge.loc[ords_prods_merge['customer_type'] >20, 'Frequency flag'] = 'non-frequent customer'

In [22]:
# Regular customer
ords_prods_merge.loc[(ords_prods_merge['customer_type'] > 10) & (ords_prods_merge['customer_type'] <= 20), 'Frequency flag'] = 'Regular customer'

In [23]:
ords_prods_merge.loc[ords_prods_merge['customer_type'] <10, 'Frequency flag'] = 'Frequent customer'

In [24]:
# Check frequency of values in new frequency flag
ords_prods_merge['Frequency flag'].value_counts(dropna = False)

Frequency flag
Frequent customer        6188034
Regular customer         2226486
non-frequent customer    1109890
nan                       394252
Name: count, dtype: int64

In [25]:
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [26]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))